*{
    margin: 0 auto;
    list-style: none;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
#wrap{
    width: 100%;
    overflow: hidden;
    position: relative;
}
header{
    width: 100%;
    height:  50px;
    position: sticky;
    top: 0px;
    left: 0;
    box-shadow: 2px 3px 10px #eee;
    z-index: 1;
    background-color: #fff;
}
.header{
    width: 1280px;
    height: 100%;
    position: relative;
}
.nav{
    width: 500px;
    position: absolute;
    right: 20px;
    top: 0px;
}
.nav ul{
    display: flex;
    line-height: 50px;
    font-size: 16px;
}
.content{
    margin: 0 auto;
    width: 1280px;
    position: relative;
}
.main{
    width: 100%;
    height: 500px;
    position: relative;
}
.main_img{
    width: 500px;
    height: 100%;
    text-align: center;
    overflow: hidden;
    border-radius: 50%;
}
.main_img>img{
    height: 100%;
}
.main_text{
    position: absolute;
    left: 80px;
    top: 200px;
    width: 400px;
    height: 100px;
    background-color: #ddd;
    border-radius: 30px;
}
.typing{
    margin-left: 10px;
    width: 95%;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
    font-size: 4em;
    font-weight: bold;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

.main_text2{
    position: absolute;
    width: 510px;
    height: 50px;
    right: 0px;
    top: 450px;
    background-color: #eae7ee;
    border-radius: 20px;
}
.typing2{
    margin-left: 20px;
    font-size: 2em;
    width: 93%;
    font-weight: bold;
    color: #696969;
    animation: typing1 3s steps(22), blink .5s step-end infinite alternate;
}
@keyframes typing1 {
    0%{
        opacity: 0;
        width: 0;
    }
    40%{
        width: 0;
    }

  }

.about{
    width: 100%;
}
.title{
    font-size: 28px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 150px;
    text-align: center;
    color: hsl(0, 0%, 10%);
}
.profile_m_img{
    display: none;
}
.about_box{
    margin-top: 100px;
    width: 100%;
    height: 350px;

}
.profile_img{
    width: 350px;
    height: 350px;
    margin-left: 20px;
    border: 1px solid #000;
    float: left;
}
.profile_img>img{
    width: 100%;
}
.profile_text{
    width:790px;
    height: 200px;
    margin-left: 70px;
    margin-top: 75px;
    float: left;
}
.profile_text>div{
    width: 250px;
    height: 100%;
    background-color: #eae7ee;
    border-radius: 30px 30px 30px 0px;
    float: left;
    cursor: pointer;
}
.profile_text>div:hover{
    background-color: #d4e1f9;
    transition: 0.4s;
}
.profile_text>div:not(:last-child){
    margin-right: 20px;
}
.profile_title{
    font-size: 18px;
    padding-top: 10px;
    padding-left: 20px;
    color: #696969;
    font-weight: bold;
}
.profile_text>div:hover .profile_title{
    color: #fff;
}
.profile_listbox{
    margin-top: 20px;
    padding-left: 20px;
}
.profile_listbox ul:first-child{
    width: 70px;
    color: #5c3b89;
    font-size: 16px;
    line-height: 24px;
    float: left;

}
.profile_listbox ul:nth-child(2){
    float: left;
    width: 150px;
    color: #696969;
    font-size: 14px;
    line-height: 24px;
}
.edu_listbox ul:first-child{
    width: 50px;
}
.edu_listbox ul:nth-child(2){
    width: 170px;
}
.edu_listbox ul:first-child li{
    height: 48px;
}
/* 스킬 */
.skill_listbox ul:first-child{
    width: 110px;
}
.skill_box{
    width: 100px !important;
}
.skill_box li{
    width: 100%;
    height: 20px;
    margin-top: 5px;
    position: relative;
}
.skill_box li>div{
    height: 5px;
    margin-left: 0px;
    background-color: #5c3b89;
}
.profile_text>div:hover .skill_box li>div{
    background-color: #fff;
}
.goleft{
    animation: goleft 4s infinite;
}
@keyframes goleft{
    from{
        width: 0;
    }
}
.skill_box li:first-child div,
.skill_box li:nth-child(2) div
{
    width: 80%;
}
.skill_box li:nth-child(3) div
{
    width: 65%;
}
.skill_box li:nth-child(4) div,
.skill_box li:nth-child(5) div
{
    width: 40%;
}

/* 스킬종료 */
.profile_listbox::after{
    content: "";
    clear: both;
    display: block;
}

/* 포트폴리오 시작 */ 
.web_box{
    margin-top: 100px;
    width: 100%;
    height: 500px;
}
.web_text{
    width: 530px;
    height: 70%;
    margin-top: 5%;
    float: left;
    border-left: 2px solid #5c3b89;
}
.web_title{
    padding-top: 20px;
    padding-left: 20px;
    font-size: 18px;
}
.web_text table{
    padding-left: 20px;
    padding-top: 20px;
    margin-left: 0;
    height:120px;
    color: #696969;
}

.web_text table tr td:first-child{
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    width: 120px;
    font-weight: bold;
}
.web_text table tr td:nth-child(2){
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}
.web_ment{
    width: 90%;
    height: 100px;
    margin-left: 0px;
    margin-top: 30px;
    padding-left: 20px;
    font-size: 12px;
    line-height: 22px;
    color: #696969;
}
.web_img{
    float: left;
    margin-left: 20px;
    width: 700px;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.web_img>a{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
}
.web_img a>img{
    width: 100%;
}

.web_img a:hover .imgs{
    transform: scale(1.2);
    transition: 0.4s;
}

.web_box::after{
    clear: both;
    content: "";
    display: block;
}
.web_text_right{
    margin-left: 20px;
    width: 500px;
    border-left: none;
    border-top: 2px solid #5c3b89;
}

/* 그래픽 시작 */
.graphic{
    position: relative;
}
.graphic_box{
    margin-top: 100px;
    width: 100%;
    height: fit-content;
}
/* 제이쿼리 소스 복사 */
.imgal-container{
    line-height:0;
    -webkit-column-count:4;
    -webkit-column-gap:0;
    -moz-column-count:4;
    -moz-column-gap:0;
    column-count:4;
    column-gap:0;
}
.imgal-img{
    width:100%;
    height:auto;
    transition:filter .2s;
}
.imgal-img:hover{
    -webkit-filter:opacity(80%);
    filter:opacity(80%);
    cursor:pointer;
}
.imgal-modal{
    margin:auto;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color:rgba(0,0,0,0.1);
    color:#fff;
    vertical-align:middle;
    height:100%;
    width:100%;
    z-index: 1;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}
.imgal-modal-img{
    width: 100%;
    height: 100%;
    object-fit:contain;
    cursor: pointer;
}
@media only screen and (min-width:1200px){
    .imgal-container{
        line-height:0;
        -webkit-column-count:4;
        -webkit-column-gap:0;
        -moz-column-count:4;
        -moz-column-gap:0;
        column-count:4;
        column-gap:0;
    }
}
/* 복사종료 */

/* 컨택 시작 */
.contact_box{
    margin:100px 0;
    width: 100%;
    height: 200px;
}
.contact_box>ul{
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}
.contact_box ul li{
    display: table-cell; 
    margin-left: 10px;
    position: relative;
}

.icon{
    margin:30px auto;
    width: 120px;
    height: 50px;
    font-size: 24px;
    line-height: 50px;
    display: flex;
    justify-content: center;
}
.icon_img{
    width: 40px;
    height: 100%;
}
.icon_img>img{
    margin-top: 5px;
    width: 100%;
}
.icon>p{
    color: #696969;
    margin-left: 5px;
}
.contact_box ul li .icon .icon_img img{
    margin-top: 10px;
    width: 90%;
}
.contact_text_box{
    border-radius: 30px;
    width: 80%;
    height: 60px;
    background:linear-gradient(to right, #d4e1f963, lavender);
}
.contact_text_box>p{
    padding-top: 5px;
    text-align: center;
    font-size: 12px;
    color: #696969;
    line-height: 20px;
}
.contact_box ul li:hover .icon{
    position: absolute;
    bottom: 20px;
    left: 35%;
    margin:0px auto;
    transition: 0.7s;
}
.contact_box ul li:hover .contact_text_box{
    position: absolute;
    top: 30px;
    left: 10%;
    transition: 0.7s;
}
footer{
    width: 100%;
    height: 100px;
    border-top: 1px solid #ddd;
}
.footer{
    margin: 30px auto;
    width: 1280px;
    text-align: center;
    font-size: 10px;
    line-height: 24px;
    color: #ddd;
}